.playlist {
    background: $white;
    height: calc(100vh - 100px);
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    font-size: 0; // removes spaces between <a> tags

    &-item {
        display: inline-block;
        box-sizing: border-box;
        color: $black;
        font-size: 12px;
        padding: 10px;
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;

        &:hover {
            background: $black-transparent;
            color: $white;
        }

        a {
            display: inline-block;
            width: 85%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &-item--current {
        background: $black;
        color: $white;
    }
    
    &-item-duration {
        float: right;
        padding-left: 10px;
    }
}
