.playlist {
    background: $white;
    height: calc(100vh - 100px);
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    font-size: 0; // removes spaces between <a> tags

    &-item {
        display: inline-block;
        box-sizing: border-box;
        color: $black;
        font-size: 12px;
        padding: 10px;
        text-overflow: ellipsis;
        text-decoration: none;
        width: 100%;
        overflow: hidden;

        &:hover {
            background: $black-transparent;
            color: $white;
        }
    }

    &-item--current {
        background: $black;
        color: $white;
    }
}
